<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="20150512" android:versionName="20150512" package="bke.nvlmaker.swzbj" platformBuildVersionCode="21" platformBuildVersionName="APKTOOL">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="14" />
	<uses-feature android:glEsVersion="0x20000" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="android.permission.DEVICE_STATE" />
	<permission android:name="android.permission.DEVICE_STATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<application android:label="死亡直播间" android:icon="res/drawable-xhdpi/icon.png">
		<activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="死亡直播间" android:name="cn.bakery.BakeryEngine.BKEngine" android:screenOrientation="landscape" android:configChanges="0xa0" android:alwaysRetainTaskState="true" android:noHistory="false">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="死亡直播间" android:name="cn.bakery.BakeryEngine.VideoPlayer.activity.PlayerActivity" android:screenOrientation="landscape" android:configChanges="0xa0" />
		<activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.android.view.UnityAdsFullscreenActivity" android:configChanges="0x40000fff" android:hardwareAccelerated="true" />
	</application>
</manifest>
